body {
    font-family: Passion One, bold;
    background-color: #282c34;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;;
    height: 100vh;
    margin: 0;
    animation: fadeIn 0.5s;

}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;;
}
.clock {
    font-size: 68px;
    margin-bottom: 20px;
    animation: pulse 3s infinite;
}
.stopwatch {
    margin-top: 20px;

}
#stopwatchDisplay {
    font-size: 50px;
    margin-bottom: 10px;
    animation: pulse 3s infinite;
}
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    
    color: black;
    transition: transform 0.2s;
}
button:hover {
    transform: scale(1.1);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
        to {
            opacity: 1;
        }
    }

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
        50% {
            transform: scale(1.05);
        }
    
}
